body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.game-container {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #111;
    border: 2px solid #fff;
}

.ball, .paddle {
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 100px;
}

#ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#leftPaddle {
    left: 10px;
}

#rightPaddle {
    right: 10px;
}
